/eip/.terraform
/eip/terraform.tfstate
/eip/terraform.tfstate.backup
/import/.terraform
/import/terraform.tfstate
/import/terraform.tfstate.backup
/provisioners/.terraform
/provisioners/terraform.tfstate
/provisioners/terraform.tfstate.backup